{% assign header_title = 'templates.accounts.my_account' | t %}
{% include 'header-image', header_title: header_title, header_image: settings.login_header_image.full %}

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <h3 class="mb-4">{{ settings.forgot_page_title }}</h3>
            <div class="mb-2">
                {% include 'account-reset-password' %}
            </div>
            <p class="text-sm text-muted text-center">
                <a href="/account/register">{{ 'templates.accounts.reset_password.create_an_account' | t }}</a> | <a href="/account/login">{{ 'templates.accounts.reset_password.sign_in' | t }}</a>
            </p>
        </div>
    </div>
</div>