/.idea
/.vagrant
/.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
/public/assets
/public/hot
/public/jpanel/assets/apps
/public/jpanel/assets/dist
/public/v1
/resources/theming/core/node_modules
/storage/*.key
/storage/clockwork
/storage/debugbar
/storage/purify
/tests/_coverage
/tests/_mailables
/node_modules
/vendor
.DS_Store
.env
.env.local
.php_cs.cache
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
auth.json
clover.xml
TODO
_ide_helper.php
_ide_helper_models.php
