
{% layout 'sms' %}

<div id="not-found-app">
    <div class="card mb-3">
        <div class="card-header">
            <h5>{{ 'templates.sms.thank_you.thank_you' | t }}</h5>
        </div>
        <div class="alert alert-info d-flex align-items-center">
            <span>{{ 'templates.sms.thank_you.default_payment_method_successfully_added' | t }}</span>
        </div>
        <div class="card-body">
            {{ 'templates.sms.thank_you.close_this_window_and_send_text_again' | t }}
        </div>
    </div>
</div>
