<div class="row no-gutters mceNonEditable" style="min-height:80vh;">
    <div class="col-12 col-md-4 mceBackground bg-primary d-flex align-items-center justify-content-end">
        <div class="text-left mceEditable wow fadeInLeft p-5 text-white text-right-md text-center">
            <h1 class="text-white text-right">Feature Headline Text Goes Here</h1>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="row h-100 no-gutters">
            <div class="col-12 col-md-6 mceBackground d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-attachment: scroll; background-color: #828282; background-blend-mode: multiply;">
                <div class="mceEditable p-5 wow zoomIn text-center text-white">
                    <a class="btn btn-outline-light mb-3" href="#">Button Text Here</a><br />A description of this feature box.
                </div>
            </div>
            <div class="col-12 col-md-6 mceBackground d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-attachment: scroll; background-color: #828282; background-blend-mode: multiply;">
                <div class="mceEditable p-5 wow zoomIn text-center text-white">
                    <a class="btn btn-outline-light mb-3" href="#">Button Text Here</a><br />A description of this feature box.
                </div>
            </div>
            <div class="col-12 col-md-6 mceBackground d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-attachment: scroll; background-color: #828282; background-blend-mode: multiply;">
                <div class="mceEditable p-5 wow zoomIn text-center text-white">
                    <a class="btn btn-outline-light mb-3" href="#">Button Text Here</a><br />A description of this feature box.
                </div>
            </div>
            <div class="col-12 col-md-6 mceBackground d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-attachment: scroll; background-color: #828282; background-blend-mode: multiply;">
                <div class="mceEditable p-5 wow zoomIn text-center text-white">
                    <a class="btn btn-outline-light mb-3" href="#">Button Text Here</a><br />A description of this feature box.
                </div>
            </div>
        </div>
    </div>
</div>
