<section class="mceBackground py-5 mceNonEditable">
    <div class="container">
        <div class="mceEditable">
            <h1>Main Heading Goes Here<br><small>Lead Out Text Goes Here</small></h1>
            
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card h-100 flipInX">
                        <div class="row w-100 h-100 no-gutters">
                            <div class="col-3 mceBackground bg-info rounded-left mceEditable" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-position: center center; background-attachment: scroll;">&nbsp;</div>
                            <div class="col">
                                <div class="card-body mceEditable">
                                    <h3 class="card-title text-left">Heading</h3>
                                    <p class="card-text">Content goes here.<br><a class="btn btn-sm btn-outline-primary my-3" href="#">Button Text <em class="fa fa-arrow-right"><!-- --></em></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card h-100 flipInX">
                        <div class="row w-100 h-100 no-gutters">
                            <div class="col-3 mceBackground bg-info rounded-left mceEditable" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-position: center center; background-attachment: scroll;">&nbsp;</div>
                            <div class="col">
                                <div class="card-body mceEditable">
                                    <h3 class="card-title text-left">Heading</h3>
                                    <p class="card-text">Content goes here.<br><a class="btn btn-sm btn-outline-primary my-3" href="#">Button Text <em class="fa fa-arrow-right"><!-- --></em></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card h-100 flipInX">
                        <div class="row w-100 h-100 no-gutters">
                            <div class="col-3 mceBackground bg-info rounded-left mceEditable" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-position: center center; background-attachment: scroll;">&nbsp;</div>
                            <div class="col">
                                <div class="card-body mceEditable">
                                    <h3 class="card-title text-left">Heading</h3>
                                    <p class="card-text">Content goes here.<br><a class="btn btn-sm btn-outline-primary my-3" href="#">Button Text <em class="fa fa-arrow-right"><!-- --></em></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card h-100 flipInX">
                        <div class="row w-100 h-100 no-gutters">
                            <div class="col-3 mceBackground bg-info rounded-left mceEditable" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-position: center center; background-attachment: scroll;">&nbsp;</div>
                            <div class="col">
                                <div class="card-body mceEditable">
                                    <h3 class="card-title text-left">Heading</h3>
                                    <p class="card-text">Content goes here.<br><a class="btn btn-sm btn-outline-primary my-3" href="#">Button Text <em class="fa fa-arrow-right"><!-- --></em></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card h-100 flipInX">
                        <div class="row w-100 h-100 no-gutters">
                            <div class="col-3 mceBackground bg-info rounded-left mceEditable" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-position: center center; background-attachment: scroll;">&nbsp;</div>
                            <div class="col">
                                <div class="card-body mceEditable">
                                    <h3 class="card-title text-left">Heading</h3>
                                    <p class="card-text">Content goes here.<br><a class="btn btn-sm btn-outline-primary my-3" href="#">Button Text <em class="fa fa-arrow-right"><!-- --></em></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card h-100 flipInX">
                        <div class="row w-100 h-100 no-gutters">
                            <div class="col-3 mceBackground bg-info rounded-left mceEditable" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-position: center center; background-attachment: scroll;">&nbsp;</div>
                            <div class="col">
                                <div class="card-body mceEditable">
                                    <h3 class="card-title text-left">Heading</h3>
                                    <p class="card-text">Content goes here.<br><a class="btn btn-sm btn-outline-primary my-3" href="#">Button Text <em class="fa fa-arrow-right"><!-- --></em></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>