<section class="mceBackground py-5 mceNonEditable">
    <div class="container">
        <div class="mceEditable">
            <h1>Main Heading Goes Here<br><small>Lead Out Text Goes Here</small></h1>
            
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    
                {% include 'accordion' %}
                    
                </div>
            </div>
            
        </div>
    </div>
</section>