<div class="row py-3">
    <div class="col-12 col-sm-3 col-md-5 col-lg-3 text-center mb-4">
        <div class="mceEditable"><img class="rounded-circle" src="https://images.unsplash.com/photo-1548794397-eeedae69ac71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=400&q=60" alt="" width="104" height="104" /></div>
    </div>
    <div class="col-12 col-sm-9 col-md-7 col-lg-9">
        <p class="text-secondary mb-0">Lead-In Text Here</p>
        <h5 class="mt-0">Heading Goes Here</h5>
        <p class="line-height-scale-3 font-scale-6 text-align-left">This is where content goes. You can put as much content as you want here.</p>
    </div>
</div>