<section class="mceNonEditable">
    <div class="row no-gutters">
        <div class="wow fadeIn col-xs-12 col-md-4 mceEditable mceBackground d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=60'); background-size: cover; background-attachment: fixed; background-color: #8c8c8c; background-blend-mode: multiply;">
            <div class="p-4 mceEditable text-white">
                <h1 class="text-white text-right">Feature Heading Text Here</h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 p-5 mceEditable wow fadeIn">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia varius posuere. Aenean et rhoncus turpis, sed porttitor risus. Aliquam blandit dictum leo, vel ultricies purus sodales sed. Nullam feugiat justo congue ultrices accumsan. Aliquam accumsan vehicula enim, eu facilisis felis efficitur vitae. Etiam sed sapien non neque volutpat porta. Sed hendrerit nec ante sed sollicitudin. Morbi eu ipsum vel leo cursus tincidunt. Sed nisl tellus, condimentum sed aliquet commodo, viverra a mauris.</p>
            <p>Nunc pharetra aliquam felis vel lobortis. Nulla facilisi. Nam euismod leo eros, sed interdum dolor tempor eget. Cras convallis massa tortor, at bibendum lectus sollicitudin a. Nunc vestibulum hendrerit ante, vel euismod arcu malesuada ac. Integer a porta ipsum. Integer mattis elementum mauris. Aenean sed lacus ipsum. Nullam at libero facilisis, mollis mi quis, bibendum metus. Aliquam arcu risus, feugiat pellentesque pretium auctor, tristique ut ex. Vestibulum tempus arcu vulputate dui viverra pulvinar. Vivamus non tincidunt urna, id volutpat nulla. Phasellus turpis tellus, sagittis non tincidunt sit amet, pharetra nec est.</p>
            <p>Cras ut tellus massa. Pellentesque ac elit ex. Nam id magna elit. Pellentesque arcu eros, luctus sit amet dictum quis, ornare vel dui. Maecenas placerat libero diam, eu venenatis sem ornare sit amet. Nam orci neque, rutrum sed pretium a, feugiat eu mauris. Aliquam sed ultricies felis, eu aliquet felis.</p>
        </div>
    </div>
</section>