<section class="mceNonEditable mceBackground bg-secondary text-white py-5">
    <div class="container d-flex align-items-center justify-content-center flex-column flex-md-row justify-content-md-ends">
        <div class="mceEditable p-2 wow fadeInRight">
            <h2 class="text-center text-md-left my-0">Headline Goes Here<br><small>Lead Out Text Goes Here</small></h2>
        </div>
        <div class="mceEditable ml-md-auto p-2 text-center text-md-right wow fadeInLeft">
            <a href="#" class="m-1 btn btn-outline-primary">Button Text</a>
            <a href="#" class="m-1 btn btn-primary">Button Text</a>
        </div>
    </div>
</section>