<section class="mceNonEditable">
    <div class="row no-gutters">
        <div class="col-md-6 p-5 d-flext align-items-center mceBackground text-center text-md-right" style="background-color:#fafafa;">
            <h2 class="text-center text-md-right my-0 mceEditable">Headline Feature Text<br><small>Lead Out Text Goes Here.</small></h2>
        </div>
        <div class="col-md-6 p-5 d-flex align-items-center justify-content-center justify-content-md-start mceEditable mceBackground" style="background-color:#eaeaea;">
            <a href="#" class="m-1 btn btn-primary">Button Text</a>
            <a href="#" class="m-1 btn btn-outline-primary">Button Text</a>
        </div>
    </div>
</section>