{% assign include_buttons = include_buttons | default: false %}
{% assign align = align | default: 'center' %}
{% assign align_class = 'text-' | append: align %}

<section class="mceBackground py-5 mceNonEditable" style="background-color: #d1d1d1; background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1700&amp;h=900&amp;q=60'); background-size: cover; background-attachment: scroll; background-blend-mode: multiply; min-height: 70vh; display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="mceEditable">
            <h1 class="{{ align_class }} mb-3 mt-0 text-white wow fadeInDown">Main Heading Goes Here<br><small>Lead Out Text Goes Here</small></h1>
            {% if include_buttons %}
            <div class="{{ align_class }} wow fadeInUp" data-wow-delay="0.2s">
                <a href="#" class="btn btn-light m-1">Button Text</a>
                <a href="#" class="btn btn-outline-light m-1">Alt Button Text</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>