<section class="mceBackground py-5 mceNonEditable" style="background-color: #d1d1d1; background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1700&amp;h=900&amp;q=60'); background-size: cover; background-attachment: scroll; background-blend-mode: multiply; min-height: 90vh; display: flex; align-items: center; justify-content: center;">

    <div class="container">
        <div class="mceEditable">
            <h1 class="mb-3 mt-0 text-white wow fadeIn">Main Heading Goes Here<br><small>Lead Out Text Goes Here</small></h1>
            
            <div class="row">
                <div class="col-12 col-md-4 py-3">
                    <div class="card h-100 mceEditable wow fadeInUp" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h3 class="card-title text-left my-2">Headline Text</h3>
                            <p class="card-text">Content goes here.</p>
                            <a href="#" class="btn btn-outline-primary btn-block">Button Text Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-3">
                    <div class="card h-100 mceEditable wow fadeInUp" data-wow-delay="0.3s">
                        <div class="card-body">
                            <h3 class="card-title text-left my-2">Headline Text</h3>
                            <p class="card-text">Content goes here.</p>
                            <a href="#" class="btn btn-outline-primary btn-block">Button Text Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 py-3">
                    <div class="card h-100 mceEditable wow fadeInUp" data-wow-delay="0.4s">
                        <div class="card-body">
                            <h3 class="card-title text-left my-2">Headline Text</h3>
                            <p class="card-text">Content goes here.</p>
                            <a href="#" class="btn btn-outline-primary btn-block">Button Text Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>