<div class="row mceNonEditable">
    <div class="col-12 col-md-6">
        <div class="mceEditable">
            <p>Content goes here.</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mceEditable">
            <p>Content goes here.</p>
        </div>
    </div>
</div>