<div class="mceNonEditable my-3">
    <div class="mceEditable">
        <div>[sponsorships style="grid" limit="6" orderby="random"]</div>
        <p style="text-align: center;"><a class="btn btn-secondary btn-lg m-1" href="/sponsorship">VIEW ALL</a></p>
    </div>
</div>
