<section class="mceNonEditable mceBackground bg-primary text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col mceEditable wow fadeIn">
                <h2 class="text-white">Headline Goes Here<br><small>Lead Out Text Goes Here</small></h2>
            </div>
        </div>
    </div>
</section>