<section class="mceNonEditable mceBackground bg-primary text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col mceEditable wow fadeIn" data-wow-delay="0.0s">
                <h2 class="text-white">Headline Goes Here<br><small>Lead Out Text Goes Here</small></h2>
            </div>
            <div class="col mceEditable wow fadeIn" data-wow-delay="0.1s">
                <h2 class="text-white">Headline Goes Here<br><small>Lead Out Text Goes Here</small></h2>
            </div>
        </div>
    </div>
</section>