<ul class="timeline-inline mceEditable">
    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>9:00am-10:00am</strong> (60min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Speaker Name<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>10:15am-11:15am</strong> (60min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Breakout Sessions<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>11:30am-12:30pm</strong> (60min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Speaker Name<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>12:30pm</strong> (90min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Lunch<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>2:00pm-3:00pm</strong> (60min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Speaker Name<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>3:15pm-4:15pm</strong> (60min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Breakout Sessions<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>4:30pm-5:30pm</strong> (60min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Speaker Name<br><small>A description of the session.</small></h4>
            </div>
        </div>
        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin.</p>
    </li>

    <li>
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-4 text-left text-md-right text-secondary">
                <strong>5:30pm-6:00pm</strong> (30min)
            </div>
            <div class="col-12 col-md-8">
                <h4>Closing</h4>
            </div>
        </div>
    </li>
</ul>