.root {
  @apply flex items-center justify-center rounded-full w-14 h-14 bg-theme-light text-theme;

  .defaultFont {
    font-size: 1.5em;
  }

  .smallFont {
    font-size: 0.75em;
  }

  &.small {
    @apply p-2.5;
    width: 18px;
    height: 18px;
  }
}
