
<div class="modal fade" id="dlg_content_templates">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-camera"></i> Templates Library</h4>
            </div>
            <div class="modal-body" style="">

                <ul class="nav nav-pills bottom-gutter" role="tablist">
                    <li role="presentation" class="active"><a href="#template-pages" aria-controls="template-pages" role="tab" data-toggle="tab"><i class="fa fa-fw fa-magic"></i> Pages</a></li>
                    <li role="presentation"><a href="#templates-sections" aria-controls="templates-sections" role="tab" data-toggle="tab"><i class="fa fa-fw fa-window-maximize"></i> Sections</a></li>
                    <li role="presentation"><a href="#templates-components" aria-controls="templates-components" role="tab" data-toggle="tab"><i class="fa fa-fw fa-mouse-pointer"></i> Components</a></li>
                    <li role="presentation"><a href="#templates-smart-codes" aria-controls="templates-smart-codes" role="tab" data-toggle="tab"><i class="fa fa-fw fa-code"></i> Smart Codes</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="template-pages">
                        <div id="templates-pages-wrap" style="width:100%; overflow-x:hidden; overflow-y:auto;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="templates-sections">
                        <div id="templates-sections-wrap" style="width:100%; overflow-x:hidden; overflow-y:auto;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="templates-components">
                        <div id="templates-components-wrap" style="width:100%; overflow-x:hidden; overflow-y:auto;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="templates-smart-codes">
                        <div id="templates-smart-codes-wrap" style="width:100%; overflow-x:hidden; overflow-y:auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
