
<div class="modal modal-info fade" id="dlg_">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">
                    <img src="/jpanel/assets/images/dp-white.png" class="dp-logo-lg"> DonorPerfect
                    <small><i class="fa fa-fw fa-user"></i>Donor Details <span>(<%= donor_id %>)</span></small>
                </h4>
                <div class="pull-right mt-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <a class="mr-4 text-white font-bold hover:text-white active:text-white" href="https://www.donorperfect.net/prod/donor.asp?screen=SEARCH&donor_id=<%= donor_id %>" target="_blank">
                        <i class="fa fa-fw fa-external-link align-middle"></i>
                        View in DonorPerfect
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div style="padding:20px; text-align:center;"><i class="fa fa-spinner fa-spin"></i> Loading from DonorPerfect...</div>
            </div>
        </div>
    </div>
</div>
