
<div class="fileRow-wrap">
    <div class="col-xs-9">
        <div class="filename">
            <i class="fa fa-file-code-o"></i> <span data-download-filename></span>
        </div>
        <div class="error">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span>Upload failed.</span>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="waiting">
            <img src="/jpanel/assets/images/spinner.svg" alt="">
        </div>
        <div class="transfer">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-dz-uploadprogress></div>
            </div>
            <div class="remaining" data-dz-timeremaining></div>
        </div>
    </div>
</div>
