
<div class="col-sm-3 col-md-2 imgThumb-wrap">
    <div class="thumbnail">
        <a class="imgThumb no-preview" tabindex="0">
            <span class="imgThumb-background"></span>
        </a>
        <div class="waiting">
            <img src="/jpanel/assets/images/spinner.svg" alt="">
        </div>
        <div class="transfer">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-dz-uploadprogress></div>
            </div>
            <div class="remaining" data-dz-timeremaining></div>
        </div>
        <div class="imgThumb-btns">
            <a target="_blank" class="btn btn-xs btn-info" data-images-view><i class="fa fa-search"></i></a>
            <a class="btn btn-xs btn-danger" data-images-remove><i class="fa fa-times"></i></a>
        </div>
        <div class="imgThumb-error">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span>Upload failed.</span>
        </div>
    </div>
</div>
