.Toastify__toast-container {
  @apply max-w-full md:max-w-md;
}

.toast {
  @media only screen and (max-width: 940px) {
    width: 100vw !important;
    top: 0 !important;
    padding: 0 !important;
  }

  @media only screen and (min-width: 940px) {
    width: fit-content !important;
  }

  div {
    color: white !important;
  }

  svg {
    fill: white !important;
  }
}
